
@{
    ViewData["Title"] = "Index";
}
@model ArtistViewModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <title>@Model.Name</title>
</head>
<body>
    <div>
        <h1>@Model.Name</h1>
        <hr class="style1">

        <p>@Model.Biography</p>
        <h1>Titres</h1>
        <hr class="style1">

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Album Picture</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Duree</th>
                    <th scope="col">Chronique</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var titre in Model.Titles)
                {
                    <tr>
                        <td><img class="m-auto" src="@titre.AlbumPicture" style="display:block; height:100px;"/></td>
                        <td class="align-middle">@titre.Title</td>
                        <td class="align-middle">@titre.Duration</td>
                        <td class="align-middle"><a href="@Url.Action("Index", "Titre")/@titre.Id"><i class="fa fa-link"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>

