@using Webzine.WebApplication.ViewModels
@model HomeViewModel
@* colonne Chronique *@
<div class="row">
    @* Derniers titres chroniqués *@
    <div class="row">
        <h1>Derniers titres chroniqués</h1>
    </div>
    <div class="row">
        <ul class="list-unstyled">
            @foreach (var objet in Model.Titres_chroniques)
            {
                <li class="media bg-light mr-4 mb-4">
                    <img src="@objet.UrlJaquette" class="img-thumbnail ml-3 mt-3" width="200" height="200">
                    <div class="media-body p-3 mb-2">
                        <a href="#">
                            <h5 class="mb-1"> @objet.Artiste.Nom  @objet.Libelle </h5>
                        </a>
                        <p class="text-secondary">
                            @objet.Chronique
                        </p>
                        <button class="btn btn-primary" type="submit">Lire la suite</button>
                        <i class="fas fa-calendar ml-3"> @objet.DateSortie.ToString("dd/MM/yyyy HH:mm:ss") </i>
                        <i class="fas fa-tags ml-3"></i>
                        <a href="#">
                            @objet.TitresStyles[0].Libelle
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-2">
        @if (Model.Page > 1)
        {
            <a class=" href="page/2"><button class="btn btn-secondary">Page precedente</button></a>
        }
        
    </div>

    <div class="col-2 ml-auto">
        @if (Model.MaxPage > Model.Page)
        {
            <a asp-action=""><button class="btn btn-secondary">Page suivante</button></a>
        }
        
    </div>
            

<div class="row">
    @* Titres les plus populaires *@
    <h1>Titres les plus populaires</h1>
    <div class="card-deck mb-4">
        @foreach (var objet in Model.Titres_populaires)
        {
            <div class="card">
                <img src="@objet.UrlJaquette" class="card-img-top" height="300" />
                <div class="card-body">
                    <a href="#">
                        <h3 class="card-title">@objet.Libelle</h3>
                    </a>
                    par
                    <a href="#">
                        @objet.Artiste.Nom
                    </a>
                </div>
            </div>
        }
    </div>
</div>


