@model TitreViewModel


<div class="row m-0 mt-3">
    <div class="col">
        <div class="container-fluid">
            <h1 class="text-primary">@Model.Author.Name - @Model.Title, @Model.AlbumTitle</h1>

            <div class="row d-flex align-items-center">
                <p class="m-0 ml-3"><i class="fas fa-calendar"></i> Le @Model.GetDate à @Model.GetTime</p>
                <p class="m-0 ml-4"><i class="fas fa-heart"></i> @Model.LikeCounter</p>
                <p class="m-0 ml-4">
                    <i class="fas fa-tags"></i> Styles :
                    @foreach (var item in Model.Styles)
                    {
                        <a href="#">@item.Libelle</a>
                        @if (Model.Styles.Last() != item)
                        {
                            <text>-</text>
                        }
                    }
                </p>
                <button type="button" class="btn btn-outline-primary ml-3"><i class="fas fa-thumbs-up"></i> Like</button>
                <a class="m-0 ml-4" href="#"><i class="fas fa-edit"></i> Editer</a>
            </div>
            <div class="mt-4">
                <img class="float-right ml-2 mb-2" height="200"
                     src="@Model.AlbumPicture">
                <p class="text-justify">@Model.Description</p>
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@Model.VideoLink"
                        allowfullscreen></iframe>
            </div>
            
            <h2 class="mt-4">Commentaires</h2>
            @foreach (var item in Model.Comments)
            {
                <div class="row mb-4">
                    <div class="col-2 text-center overflow-hidden">
                        <img width="90" src="https://static.thenounproject.com/png/17241-200.png" alt="">
                    </div>
                    <div class="col">
                        <div class="row font-weight-bold"><span class="text-primary">@Html.DisplayFor(modelItem => item.Username)</span><span class="text-secondary">, le 14/12/2019 à 13h22</span></div>
                        <div class="row">@Html.DisplayFor(modelItem => item.Message)</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
