@model TitleViewModel

@{
    ViewData["Title"] = "Editer un titre";
    ViewData["Admin"] = true;
}

<div>
    <h1>Editer un titre</h1>
    <hr class="style1">

    <form method="post" asp-area="administration" asp-controller="titre" asp-action="edit">
        <div class="form-group row">
            <label for="Author" class="col-2 col-form-label">Nom de l'artiste</label>
            <select class="form-control col-10">
                @foreach (var artist in Model.Artistes)
                    {
                        <option value="@artist.IdArtiste" isSelected >@artist.Nom</option>
                    }
            </select>
        </div>

        <div class="form-group row">
            <label for="Title" class="col-2">Titre</label>
            <input type="text" class="form-control col-10" placeholder="@Model.Titre.Libelle" />
        </div>

        <div class="form-group row">
            <label for="Description" class="col-2">Chronique</label>
            <textarea class="form-control col-10" placeholder="@Model.Titre.Chronique"></textarea>
        </div>

        <div class="form-group row">
            <label for="ReleaseDate" class="col-2">Date de sortie</label>
            <input type="date" value="@Model.Titre.DateSortie.ToString("yyyy-MM-dd")" class="col-4 form-control" />
            <label for="Duration" class="col-2">Duree en secondes</label>
            <div class="input-group col-4">
                <input type="number" class="form-control" value="@Model.Titre.Duree">
                <div class="input-group-append">
                    <span class="input-group-text" id="inputGroupPrepend">Secondes</span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="AlbumPicture" class="col-2">Jaquette de l'album</label>
            <input type="text" class="form-control col-10" placeholder="@Model.Titre.UrlJaquette" />
        </div>

        <div class="form-group row">
            <label for="UrlListen" class="col-2">URL d'écoute</label>
            <input type="text" class="form-control col-10" placeholder="@Model.Titre.UrlEcoute" />
        </div>

        <div class="form-group row">
            <label for="Styles" class="col-2">Styles</label>
            <div class="col-10">
                @foreach (var style in Model.Styles)
                    {
                        <text>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@style.IdStyle" value="@style.IdStyle" @(Model.Titre.TitresStyles.Any(s=>s.IdStyle==style.IdStyle)?"checked":"") >
                                <label class="form-check-label" for="@style.IdStyle">@style.Libelle</label>
                            </div>
                        </text>
                    }
            </div>

        </div>

        <div class="form-group row">
            <label for="ReadCounter" class="col-2">Nombre de lectures</label>
            <span class="col-4">@Model.Titre.NbLectures.ToString()</span>
            <label for="LikeCounter" class="col-2">Nombre de likes</label>
            <span class="col-4">@Model.Titre.NbLikes.ToString()</span>
        </div>

        <div class="row">
            <span class="col-2"></span>
            <span class="col-10"><input type="submit" class="btn btn-primary" value="Sauvegarder" /></span>
        </div>

    </form>

    <br />

    <a asp-area="administration" asp-controller="titre" asp-action="index">Retour a l'administration des titres</a>

</div>