
@{
    ViewData["Title"] = "Editer un titre";
}
@model Webzine.WebApplication.Areas.Administration.ViewModels.TitleViewModel
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <title>Titres</title>
</head>
<body>
    <div>
        <h1>Editer un titre</h1>
        <hr class="style1">

        <form  method="post">
            <div class="form-group row">
                <label for="Author" class="col-2 col-form-label">Nom de l'artiste</label>
                <select class="form-control col-10">
                    @foreach (var artist in Model.Artistes)
                    {
                        string isSelected = artist.IdArtiste == Model.Title.Artiste.IdArtiste ? "selected" : "";
                        <option value="@artist.IdArtiste" isSelected >@artist.Nom</option>
                    }
                </select>
            </div>

            <div class="form-group row">
                <label for="Title" class="col-2">Titre</label>
                <input type="text" class="form-control col-10" placeholder="@Model.Title.Libelle"/>
            </div>

            <div class="form-group row">
                <label for="Description" class="col-2">Chronique</label>
                <textarea class="form-control col-10" placeholder="@Model.Title.Chronique"></textarea>
            </div>

            <div class="form-group row">
                <label for="ReleaseDate" class="col-2">Date de sortie</label>
                <input type="date" value="@Model.Title.DateSortie.ToString("yyyy-MM-dd")" class="col-4 form-control" />
                <label for="Duration" class="col-2">Duree en secondes</label>
                <div class="input-group col-4">
                    <input type="number" class="form-control" value="@Model.Title.Duree">
                    <div class="input-group-append">
                        <span class="input-group-text" id="inputGroupPrepend">Secondes</span>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="AlbumPicture" class="col-2">Jaquette de l'album</label>
                <input type="text" class="form-control col-10" placeholder="@Model.Title.UrlJaquette"/>
            </div>

            <div class="form-group row">
                <label for="UrlListen" class="col-2">URL d'écoute</label>
                <input type="text" class="form-control col-10" placeholder="@Model.Title.UrlEcoute"/>
            </div>

            <div class="form-group row">
                <label for="Styles" class="col-2">Styles</label>
                <div class="col-10">
                    @foreach (var style in Model.Styles)
                    {
                        <text>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="@style.IdStyle" value="@style.IdStyle" @(Model.Title.TitresStyles.Any(s=>s.IdStyle==style.IdStyle)?"checked":"") >
                                <label class="form-check-label" for="@style.IdStyle">@style.Libelle</label>
                            </div>
                        </text>
                    }
                </div>

            </div>

            <div class="form-group row">
                <label for="ReadCounter" class="col-2">Nombre de lectures</label>
                <span class="col-4">@Model.Title.NbLectures.ToString()</span>
                <label for="LikeCounter" class="col-2">Nombre de likes</label>
                <span class="col-4">@Model.Title.NbLikes.ToString()</span>
            </div>

            <div class="row">
                <span class="col-2"></span>
                <span class="col-10"><input type="submit" class="btn btn-primary" value="Sauvegarder" /></span>
            </div>

        </form>

        <br />

        <a href="#">Retour a l'administration des titres</a>

    </div>
</body>
</html>


