@using Webzine.WebApplication.ViewModels
@model ResearchViewModel
<div class="row m-0 p-0">
    <h2> Résultats de la recherche pour "@Model.Recherche" </h2>
</div>
<div class="row m-0 p-0 mt-3">
    <h2> Artistes </h2>
</div>
@if (@Model.Artistes.Count == 0)
{
    <p>Aucun artiste.</p>
}
@foreach (var objet in Model.Artistes)
{
    <div class="row m-0 p-0 d-flex align-items-center">
        <i class="fas fa-user m-0 p-0"></i>
        <a asp-controller="artiste" asp-action="index" asp-route-name="@objet.Nom" class="ml-2"> @objet.Nom </a>
    </div>
}

<div class="row m-0 p-0 mt-3">
    <h2> Titres </h2>
</div>
@if (@Model.Titres.Count == 0)
{
    <p>Aucun titre.</p>
}
@foreach (var objet in Model.Titres)
{
    <div class="media mb-3">
        <img src="@objet.UrlJaquette" class="mr-3" height="64" onerror="this.src='https://m.media-amazon.com/images/I/71OFozfY-cL._SS500_.jpg'">
        <div class="media-body">
            <a asp-controller="titre" asp-action="index" asp-route-id="@objet.IdTitre"><h5 class="mt-0"> @objet.Libelle </h5></a>
            Durée : @objet.DurationToString()
        </div>
    </div>
}
